ul {
  list-style: none;
}

._1i5X8OupSujpYcwGHpolNX {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 1008px;
  height: 84px;
  font-family: Arial;
}

._2bNL3ccdgkxqhue06eREuo {
  width: 105px;
  height: 50px;
  margin: 16px 22px 15px 20px;
}

._1W4Vmk7bVItT0Bj6T2rmwY {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

._2u8Og36F85vcx_Hey4ub3K {
  width: 435px;
  height: 23px;
}

.uWxBYhByiwoDN-rzkxnf9 {
  width: 138;
  height: 29px;
}

.lRCDZWxOzXzCgGKHxQgIC {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnef2T15nHejEEu6lyFFvJrRS7MYIqKvGzZ40KPmsjN3Su4axC);
  background-size: 27px;
  width: 29px;
  height: 29px;
}

._2mwo72RYjDaKKNOHdEFUej {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: white;
}

._4xChmGfPBHg5JFNVnJMAx {
  display: flex;
  align-items: center;
  padding: 2px 23px;
  height: 40px;
  font-size: 16px;
}

._4xChmGfPBHg5JFNVnJMAx:hover .A42ARTpHJJHmvkuj17YsX {
  display: flex;
}

._4xChmGfPBHg5JFNVnJMAx:hover{
  background-image: linear-gradient(to bottom, #000000 0%, #434343 51%, #000000 100%)
}

.A42ARTpHJJHmvkuj17YsX {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px;
}

.A42ARTpHJJHmvkuj17YsX li {
  font-size: 14px;
  padding: 5px;
  margin-right: 50px;
  text-decoration: none;
}

._1eWDfAwy9H-zjOiwH0EfTi {
  color: burlywood;
  font-weight: 700;
}

._3J1pY69Y-sDqVZo76NS7mO {
  color: black;
}

._3eAQCF9ftqZtmPS9vXNHmV {
  display: flex;
  flex-direction: row;
}

.GFfMLzNsflaNjuRioG9ZQ {
  height: 36px;
  background-color: #656565;
  width: 2px;
  margin: 4px 5px 2px 5px;
}

._1DzI72LmOoNuUs6G9NrfKF {
  height: 12px;
  background-color: white;
  width: 1px;
  margin: 3px 20px 3px 20px;
}

.lurNWU4m37G_DWQn7pV5f {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 0px 12px;
  padding: 0;
}

._1lmLDL-ZGu8lWt6to9B39W {
  width: 56px;
  height: 16px;
}

.QCcNSMiqYzGssNBOVrK_R {
  width: 31px;
  height: 31px;
  margin-right: 3px;
}

._1tMkLLA3A2xTotrtcNqiA_ {
  display: flex;
  margin-top: 18px;
  flex-direction: column;
}

._3tXKrA22Wf3StgixzXKe6c {
  font-family: Arial;
  font-size: 12px;
  margin-right: 20px;
  color: white;
}

._31XxPq_Q_I6XPEUIXKIvCO {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 18px;
  padding: 0;
}

._2dkdRxUCpvu0bc-sB4Hvf6 {
  width: 120px;
  height: 42px;
}

.Z6zZgAJouxlQYwAtCuB3c {
  font-family: Arial;
  font-size: 12px;
  color: white;
  margin-left: 10px;
}
