<div id="navbar" class="navbarSprite">
  <noscript>
    <link rel="stylesheet" type="text/css" href="https://m.media-amazon.com/images/G/01/imdb/css/site/consumer-navbar-no-js-3652782989._CB470042113_.css" />
  </noscript>
  <span id="home_img_holder" style="display: none;">
    <a href="/?ref_=nv_home" title="Home" class="navbarSprite" id="home_img"></a> <span class="alt_logo">
      <a href="/?ref_=nv_home" title="Home">IMDb</a>
    </span>
  </span>
  <form method="get" action="/find" class="nav-searchbar-inner" id="navbar-form">
    <div id="nb_search">
      <noscript>
        <div id="more_if_no_javascript"><a href="/search/">More</a></div>
      </noscript>
      <button id="navbar-submit-button" class="primary btn" type="submit" aria-label="Submit Search">
        <div class="magnifyingglass navbarSprite"></div>
      </button>
      <input type="hidden" name="ref_" value="nv_sr_fn">
      <input type="text" autocomplete="off" value="" name="q" id="navbar-query" placeholder="Find Movies, TV shows, Celebrities and more...">
      <div class="quicksearch_dropdown_wrapper">
        <select name="s" id="quicksearch" class="quicksearch_dropdown navbarSprite">
          <option value="all">All</option>
          <option value="tt">Titles</option>
          <option value="ep">TV Episodes</option>
          <option value="nm">Names</option>
          <option value="co">Companies</option>
          <option value="kw">Keywords</option>
          <option class="advancedSearch" value="/search/">Advanced Search »</option>
        </select>
      </div>
      <div id="navbar-suggestionsearch" class="celwidget" cel_widget_id="SuggestionSearchWidget" data-cel-widget="SuggestionSearchWidget"
        style="left: 140px; top: 38px; width: 534px; display: none;"></div>
    </div>
  </form>
  <div id="megaMenu">
    <ul id="consumer_main_nav" class="main_nav">
      <li class="spacer"></li>
      <li class="js_nav_item" id="navTitleMenu">
        <p class="navCategory">
          <a href="/movies-in-theaters/?ref_=nv_tp_inth_1">Movies</a>,
          <a href="/chart/toptv/?ref_=nv_tp_tv250_2">TV</a><br>
          &amp; <a href="/showtimes/?ref_=nv_tp_sh_3">Showtimes</a></p>
        <span class="downArrow"></span>
        <div id="navMenu1" class="sub_nav" style="display: none;">
          <div id="titleMenuImage" style="background: url('https://ia.media-imdb.com/images/M/MV5BMTk0MDEzMjI3NV5BMl5BanBnXkFtZTcwODg4NDc3Mw@@._V1._SX430_CR10,10,410,315_.jpg')">
            <a title="                            12 Angry Men
  , #5 on IMDb Top Rated Movies" href="/title/tt0050083/?ref_=nv_mv_dflt_1"
              class="fallback">
            </a>
            <div class="overlay">
              <p>
                <a href="/title/tt0050083/?ref_=nv_mv_dflt_2" id="titleMenuImageClick">
                  <strong> 12 Angry Men
                  </strong> (1957)
                </a>
                <br>
                <a href="/chart/top?ref_=nv_mv_dflt_3" id="titleMenuImageSecondaryClick">
                  #<strong>5</strong> on IMDb Top Rated Movies
                </a> »
              </p>
            </div>
          </div>
          <div class="subNavListContainer">
            <h5>MOVIES</h5>
            <ul>
              <li><a href="/movies-in-theaters/?ref_=nv_mv_inth">In Theaters</a></li>
              <li><a href="/showtimes/?ref_=nv_mv_sh">Showtimes &amp; Tickets</a></li>
              <li><a href="/trailers/?ref_=nv_mv_tr">Latest Trailers</a></li>
              <li><a href="/movies-coming-soon/?ref_=nv_mv_cs">Coming Soon</a></li>
              <li><a href="/calendar/?ref_=nv_mv_cal">Release Calendar</a></li>
              <li><a href="/chart/top?ref_=nv_mv_250">Top Rated Movies</a></li>
              <li><a href="/india/top-rated-indian-movies?ref_=nv_mv_250_in">Top Rated Indian Movies</a></li>
              <li><a href="/chart/moviemeter?ref_=nv_mv_mpm">Most Popular Movies</a></li>
            </ul>
            <h5>CHARTS &amp; TRENDS</h5>
            <ul>
              <li><a href="/chart/?ref_=nv_ch_cht">Box Office</a></li>
              <li><a href="/search/title?count=100&amp;groups=oscar_best_picture_winners&amp;sort=year,desc&amp;ref_=nv_ch_osc">Oscar
                  Winners</a></li>
              <li><a href="/genre/?ref_=nv_ch_gr">Most Popular by Genre</a></li>
            </ul>
          </div>
          <div class="subNavListContainer">
            <h5>TV &amp; VIDEO</h5>
            <ul>
              <li><a href="/tv/?ref_=nv_tvv_tv">IMDb TV</a></li>
              <li><a href="/chart/toptv/?ref_=nv_tvv_250">Top Rated TV Shows</a></li>
              <li><a href="/chart/tvmeter?ref_=nv_tvv_mptv">Most Popular TV Shows</a></li>
              <li><a href="/sections/dvd/?ref_=nv_tvv_dvd">DVD &amp; Blu-Ray</a></li>
            </ul>
            <h5>SPECIAL FEATURES</h5>
            <ul>
              <li><a href="/amazon-originals/?ref_=nv_sf_ams">Amazon Originals</a></li>
              <li><a href="/imdbpicks/summer-movie-guide/ls068449550/?ref_=nv_sf_st">Summer Movie Guide</a></li>
              <li><a href="/scary-good/?ref_=nv_sf_sca">Horror Guide</a></li>
              <li><a href="/imdbpicks/?ref_=nv_sf_picks">IMDb Picks</a></li>
              <li><a href="/family-entertainment-guide/?ref_=nv_sf_fam">Family</a></li>
              <li><a href="/video-games/?ref_=nv_sf_vidg">Video Games</a></li>
              <li><a href="/marvel/?ref_=nv_sf_marvel">Marvel</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="spacer"></li>
      <li class="js_nav_item" id="navNameMenu">
        <p class="navCategory">
          <a href="/search/name?gender=male,female&amp;ref_=nv_tp_cel">Celebs</a>,
          <a href="/awards-central/?ref_=nv_tp_awrd">Events</a><br>
          &amp; <a href="/gallery/rg784964352?ref_=nv_tp_ph">Photos</a></p>
        <span class="downArrow"></span>
        <div id="navMenu2" class="sub_nav" style="display: none;">
          <div id="nameMenuImage" style="background: url('https://ia.media-imdb.com/images/M/MV5BMjMxNTMyNDY3MV5BMl5BanBnXkFtZTcwODU1OTQwNw@@._V1._SX260_CR0,0,250,315_.jpg')">
            <a title="Amy Adams, #18 on STARmeter" href="/name/nm0010736/?ref_=nv_cel_dflt_1" class="fallback">
            </a>
            <div class="overlay">
              <p>
                <a href="/name/nm0010736/?ref_=nv_cel_dflt_2" id="nameAdClick">
                  <strong>Amy Adams</strong>
                </a> »
                <br>
                #<strong>18</strong> on STARmeter
              </p>
            </div>
          </div>
          <div class="subNavListContainer">
            <h5>CELEBS</h5>
            <ul>
              <li><a href="/search/name?birth_monthday=09-08&amp;refine=birth_monthday&amp;ref_=nv_cel_brn">Born Today</a></li>
              <li><a href="/news/celebrity?ref_=nv_cel_nw">Celebrity News</a></li>
              <li><a href="/search/name?gender=male,female&amp;ref_=nv_cel_m">Most Popular Celebs</a></li>
            </ul>
            <h5>PHOTOS</h5>
            <ul>
              <li><a href="/gallery/rg1859820288?ref_=nv_ph_ls">Latest Stills</a></li>
              <li><a href="/gallery/rg1624939264?ref_=nv_ph_lp">Latest Posters</a></li>
              <li><a href="/gallery/rg1641716480?ref_=nv_ph_lv">Photos We Love</a></li>
            </ul>
          </div>
          <div class="subNavListContainer">
            <h5>EVENTS</h5>
            <ul>
              <li><a href="/awards-central/?ref_=nv_ev_awrd">Awards Central</a></li>
              <li><a href="/festival-central/?ref_=nv_ev_fc">Festival Central</a></li>
              <li><a href="/oscars/?ref_=nv_ev_acd">Oscars</a></li>
              <li><a href="/golden-globes/?ref_=nv_ev_gg">Golden Globes</a></li>
              <li><a href="/sundance/?ref_=nv_ev_sun">Sundance</a></li>
              <li><a href="/cannes/?ref_=nv_ev_can">Cannes</a></li>
              <li><a href="/comic-con/?ref_=nv_ev_comic">Comic-Con</a></li>
              <li><a href="/emmys/?ref_=nv_ev_rte">Emmy Awards</a></li>
              <li><a href="/venice/?ref_=nv_ev_venice">Venice Film Festival</a></li>
              <li><a href="/toronto/?ref_=nv_ev_tor">Toronto Film Festival</a></li>
              <li><a href="/festival-central/tribeca?ref_=nv_ev_trb">Tribeca</a></li>
              <li><a href="/sxsw/?ref_=nv_ev_sxsw">SXSW</a></li>
              <li><a href="/event/all/?ref_=nv_ev_all">All Events</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="spacer"></li>
      <li class="js_nav_item" id="navNewsMenu">
        <p class="navCategory">
          <a href="/news/top?ref_=nv_tp_nw">News</a> &amp;<br>
          <a href="/czone/?ref_=nv_cm_cz">Community</a>
        </p>
        <span class="downArrow"></span>
        <div id="navMenu3" class="sub_nav" style="display: none;">
          <div id="latestHeadlines">
            <div class="subNavListContainer">
              <h5>LATEST HEADLINES</h5>
              <ul class="ipl-simple-list">
                <li class="news_item">
                  <a href="/news/ni62201077?ref_=nv_nw_tn_1"> Venice Film Festival: Alfonso Cuaron’s ‘Roma’ Wins Golden
                    Lion
                  </a><br>
                  <small>
                    <span>1 hour ago</span>
                    <span>|</span>
                    <span>Variety</span>
                  </small>
                </li>
                <li class="news_item">
                  <a href="/news/ni62201073?ref_=nv_nw_tn_2"> Julianne Moore Remembers Working With Burt Reynolds on
                    ‘Boogie Nights’ and an ’80s TV Show
                  </a><br>
                  <small>
                    <span>47 minutes ago</span>
                    <span>|</span>
                    <span>Variety</span>
                  </small>
                </li>
                <li class="news_item">
                  <a href="/news/ni62201081?ref_=nv_nw_tn_3"> The Hate U Give review – Amandla Sternberg shines in
                    tough teen movie with radical bent
                  </a><br>
                  <small>
                    <span>45 minutes ago</span>
                    <span>|</span>
                    <span>The Guardian - Film News</span>
                  </small>
                </li>
              </ul>
            </div>
          </div>
          <div class="subNavListContainer">
            <h5>NEWS</h5>
            <ul>
              <li><a href="/news/top?ref_=nv_nw_tp">Top News</a></li>
              <li><a href="/news/movie?ref_=nv_nw_mv">Movie News</a></li>
              <li><a href="/news/tv?ref_=nv_nw_tv">TV News</a></li>
              <li><a href="/news/celebrity?ref_=nv_nw_cel">Celebrity News</a></li>
              <li><a href="/news/indie?ref_=nv_nw_ind">Indie News</a></li>
            </ul>
            <h5>COMMUNITY</h5>
            <ul>
              <li><a href="/czone/?ref_=nv_cm_cz">Contributor Zone</a></li>
              <li><a href="/poll/?ref_=nv_cm_pl">Polls</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="spacer"></li>
      <li class="js_nav_item" id="navWatchlistMenu">
        <p class="navCategory singleLine watchlist">
          <a href="/list/watchlist?ref_=nv_wl_all_0">Watchlist</a>
        </p>
        <span class="downArrow"></span>
        <div id="navMenu4" class="sub_nav" style="display: none;">
          <h5>
            YOUR WATCHLIST
          </h5>
          <ul id="navWatchlist">
            <li><a id="" href="/list/watchlist?ref_=nv_wl_img_1"><img alt="Add items to your Watchlist" class="" src="https://m.media-amazon.com/images/G/01/imdb/images/navbar/watchlist_slot1_logged_out-1670046337._CB470041656_.jpg"
                  height="209" width="140" title="Add items to your Watchlist"></a></li>
            <li><a id="" href="/search/title?count=100&amp;title_type=feature,tv_series&amp;ref_=nv_wl_img_2"><img alt="Add items to your Watchlist"
                  class="" src="https://m.media-amazon.com/images/G/01/imdb/images/navbar/watchlist_slot2_popular-4090757197._CB470041610_.jpg"
                  height="209" width="140" title="Add items to your Watchlist"></a></li>
            <li><a id="" href="/chart/top?ref_=nv_wl_img_3"><img alt="Add items to your Watchlist" class="" src="https://m.media-amazon.com/images/G/01/imdb/images/navbar/watchlist_slot3_top250-575799966._CB470041651_.jpg"
                  height="209" width="140" title="Add items to your Watchlist"></a></li>
          </ul>
          <script>
            if (!('imdb' in window)) { window.imdb = {}; }
            window.imdb.watchlistTeaserData = [
              {
                href: "/list/watchlist",
                src: "https://m.media-amazon.com/images/G/01/imdb/images/navbar/watchlist_slot1_logged_out-1670046337._CB470041656_.jpg"
              },
              {
                href: "/search/title?count=100&title_type=feature,tv_series",
                src: "https://m.media-amazon.com/images/G/01/imdb/images/navbar/watchlist_slot2_popular-4090757197._CB470041610_.jpg"
              },
              {
                href: "/chart/top",
                src: "https://m.media-amazon.com/images/G/01/imdb/images/navbar/watchlist_slot3_top250-575799966._CB470041651_.jpg"
              }
            ];
          </script>
        </div>
      </li>
      <li class="spacer"></li>
    </ul>
  </div>
  <div id="nb_extra">
    <ul id="nb_extra_nav" class="main_nav">
      <li class="js_nav_item" id="navProMenu">
        <p class="navCategory">
          <a href="https://pro.imdb.com/signup/index.html?rf=cons_nb_hm&amp;ref_=cons_nb_hm"> <img alt="IMDbPro Menu"
              src="https://m.media-amazon.com/images/G/01/imdb/images/navbar/imdbpro_logo_nb-3000473826._CB470041611_.png">
          </a> </p>
        <span class="downArrow"></span>
        <div id="navMenuPro" class="imdb-pro-ad-shared imdb-pro-ad sub_nav">
          <a href="https://pro.imdb.com/signup/index.html?rf=cons_nb_hm&amp;ref_=cons_nb_hm" class="imdb-pro-ad__link">
            <div id="proAd" class="imdb-pro-ad__image">
              <img alt="Go to IMDbPro" height="180" width="174" src="https://m.media-amazon.com/images/G/01/imdb/images/navbar/imdbpro_menu_user-4091932618._CB470041659_.png"
                srcset="https://m.media-amazon.com/images/G/01/imdb/images/navbar/imdbpro_menu_user-4091932618._CB470041659_.png 1x,
  https://m.media-amazon.com/images/G/01/imdb/images/navbar/imdbpro_menu_user_2x-2074318947._CB470041657_.png 2x">
            </div>
            <section class="imdb-pro-ad__content">
              <div class="imdb-pro-ad__title">The leading information resource for the entertainment industry</div>
              <p class="imdb-pro-ad__line">Find industry contacts &amp; talent representation</p>
              <p class="imdb-pro-ad__line">Manage your photos, credits, &amp; more</p>
              <p class="imdb-pro-ad__line">Showcase yourself on IMDb &amp; Amazon</p>
              <span class="imdb-pro-ad__button">Go to IMDbPro</span>
            </section>
          </a></div>
      </li>
      <li class="spacer"><span class="ghost">|</span></li>
      <li>
        <a href="https://help.imdb.com/imdb?ref_=cons_nb_hlp">Help</a>
      </li>
      <li class="social">

        <a href="/offsite/?page-action=fol_fb&amp;token=BCYveTT_GR3_7ddLUvnxPsYsZy4iUVA6JV_9NJqq06Ri4Gzx01qViP2zC-RElxpz8lyuzX5fjeRP%0D%0AlWbXnGdvWKzOI4pnWIpQX5Q4LL2hMobDxUYQbazbtl-kAe5p3Dh8YDL6syvRPX6QOvK9VGBIQUMC%0D%0AlnXDo_1mDuQ1J-4flCOM18AzchMNRGurfleG7GcZzCfPKg-ipPmCPz99ZVo8jLcN_A%0D%0A&amp;ref_=tt_nv_fol_fb"
          title="Follow IMDb on Facebook" target="_blank"> <span class="desktop-sprite follow-facebook"></span>
        </a>
        <a href="/offsite/?page-action=fol_tw&amp;token=BCYtB6EZfVJfcOWmPu2WPbugqhLYp6jWG2_fSR6yPVMQMUTxw-XRiUJo-xyeZvGnOMcv9aNq84jk%0D%0ALpgekOFMBVWM545q0Ic-uIalVXufPx3a3TN1lWyYHYY-35mX_-5gdE45oFc_W_hfUjEr0VHgtlXs%0D%0AIczje0MZGgxmPLxJIlqxfi7cmDLTQMazk4RbyS4RwITwgOP21uEuY2i-OBXrHGE5Xg%0D%0A&amp;ref_=tt_nv_fol_tw"
          title="Follow IMDb on Twitter" target="_blank"> <span class="desktop-sprite follow-twitter"></span>
        </a>
        <a href="/offsite/?page-action=fol_inst&amp;token=BCYvRRcvDz4iGmPleFvYRpcFolWxELKk9aHOXWG06YdXLPLw31TNW20CNVUQC5hKpp02CEU1-wWy%0D%0AQ71fclwyZjp6Pmq5SKt40oJWbP2_fbS4UzhiSZ2dLedWIW_1D1F3q9ZJ7ivJ6NrtrWbHrKtf37Vv%0D%0AXRA0SWt4KaCuIUGdaXgAxbYglTS0DpD7ksRdjS-gMcA1KtzzGidBMkhB6ruM634eIw%0D%0A&amp;ref_=tt_nv_fol_inst"
          title="Follow IMDb on Instagram" target="_blank"> <span class="desktop-sprite follow-instagram"></span>
        </a>
      </li>
    </ul>
  </div>
  <div id="nb_personal">
    <ul id="consumer_user_nav" class="main_nav">
      <li class="css_nav_menu no_arrow" id="navUserMenu">
        <p class="navCategory singleLine">
          <a id="facebook-signin-link" href="https://graph.facebook.com/v2.8/oauth/authorize?client_id=127059960673829&amp;scope=email%2Cuser_gender%2Cuser_birthday&amp;state=eyI0OWU2YyI6ImQwYjUiLCJ1IjoiaHR0cHM6Ly93d3cuaW1kYi5jb20vP3JlZl89bnZfZmJfbGdpbiIsIm1hbnVhbExpbmsiOiJmYWxzZSJ9&amp;redirect_uri=https%3A%2F%2Fwww.imdb.com%2Fregistration%2Ffacebookhandler%2F"
            class="signin-button">
            <span class="facebook-logo"></span>
            <span class="signin-facebook-text">Sign in with Facebook</span></a>
          <a href="/registration/signin?u=/title/tt0068646/%3Fref_%3Dnv_sr_1&amp;ref_=nv_usr_lgin_1" rel="login" class="signin-other-options-text"
            id="nblogin">Other Sign in options</a>
        </p>
      </li>
    </ul>
  </div>
</div>