ul {
  list-style: none;
}

._3GpwZz-NpBqREVaRc_S7Dw {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 1008px;
  height: 84px;
  font-family: Arial;
}

._19qKoZEV3YVdmq16Ldc90g {
  width: 105px;
  height: 50px;
  margin: 16px 22px 15px 20px;
}

.KjzB2zQLncpDssue-e1bS {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

._3CrBThvpZObUr2RIwj5RA5 {
  width: 435px;
  height: 23px;
}

.BkWuIWsvBivJOJTFfjHfb {
  width: 138;
  height: 29px;
}

._2DvKFVKqwrRCBzf2z6Ffn_ {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnef2T15nHejEEu6lyFFvJrRS7MYIqKvGzZ40KPmsjN3Su4axC);
  background-size: 27px;
  width: 29px;
  height: 29px;
}

.fHJsomLzd-pKRvXuk5uRa {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: white;
}

.AJ5I4XIPBlHHaJMpwo4f {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin: 3px 23px;
  height: 40px;
  font-size: 16px;
}

.AJ5I4XIPBlHHaJMpwo4f:hover ._1Sv8sICZapZxHA8giGmAMa {
  display: flex;
}

._1Sv8sICZapZxHA8giGmAMa {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px;
}

._1Sv8sICZapZxHA8giGmAMa li {
  font-size: 14px;
  padding: 5px;
  margin-right: 50px;
  text-decoration: none;
}

._18jZdGXRxd1dyzC9M0nPib {
  color: burlywood;
  font-weight: 700;
}

._1Vo6LsPcScx-3H5Nw4bgI3 {
  color: black;
}

.d72MynNAFwky4i1w5OHav {
  display: flex;
  flex-direction: row;
}

._1WHah3_JonKUylNf1lsnv1 {
  height: 36px;
  background-color: #656565;
  width: 2px;
  margin: 4px 5px 2px 5px;
}

._1uMNbCxSnO5QStjWzcXnh8 {
  height: 12px;
  background-color: white;
  width: 1px;
  margin: 3px 20px 3px 20px;
}

._2x24mHSzInvoAst47n0PbG {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 0px 12px;
  padding: 0;
}

.h9JmoYQ4Xy1pRisLR3gkq {
  width: 56px;
  height: 16px;
}

._2d_saHhOGPAw381xLw2xLB {
  width: 31px;
  height: 31px;
  margin-right: 3px;
}

._25p3U-igM3BRiX8N9xSm2L {
  display: flex;
  margin-top: 18px;
  flex-direction: column;
}

._2k2lPjF3PkwP0-9Rj48zgI {
  font-family: Arial;
  font-size: 12px;
  margin-right: 20px;
  color: white;
}

._1PQsuN-BG4DcMC787BfLEq {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 18px;
  padding: 0;
}

._22_jNk4pTowOWojuaN78C5 {
  width: 120px;
  height: 42px;
}

.wQaV5eurPdTktVSZkpcwh {
  font-family: Arial;
  font-size: 12px;
  color: white;
  margin-left: 10px;
}
