:local(ul) {
  list-style: none;
}

:local(.container) {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 1008px;
  height: 84px;
  font-family: Arial;
}

:local(.weblogo) {
  width: 105px;
  height: 50px;
  margin: 16px 22px 15px 20px;
}

:local(.searchbarinner) {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

:local(.searchtext) {
  width: 435px;
  height: 23px;
}

:local(.searchdropdown) {
  width: 138;
  height: 29px;
}

:local(.searchbutton) {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnef2T15nHejEEu6lyFFvJrRS7MYIqKvGzZ40KPmsjN3Su4axC);
  background-size: 27px;
  width: 29px;
  height: 29px;
}

:local(.mainnav) {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: white;
}

:local(.meganavtitle) {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin: 3px 23px;
  height: 40px;
  font-size: 16px;
}

:local(.meganavtitle:hover, .dropdowncontent) {
  display: flex;
}

:local(.dropdowncontent) {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px;
}

:local(.dropdowncontent li) {
  font-size: 14px;
  padding: 5px;
  margin-right: 50px;
  text-decoration: none;
}

:local(.ddheader) {
  color: burlywood;
  font-weight: 700;
}

:local(.ddoptions) {
  color: black;
}

:local(.ddwatchimg) {
  display: flex;
  flex-direction: row;
}

:local(.spacermain) {
  height: 36px;
  background-color: #656565;
  width: 2px;
  margin: 4px 5px 2px 5px;
}

:local(.spacerextra) {
  height: 12px;
  background-color: white;
  width: 1px;
  margin: 3px 20px 3px 20px;
}

:local(.navextralist) {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 0px 12px;
  padding: 0;
}

:local(.imdbpro) {
  width: 56px;
  height: 16px;
}

:local(.sociallogo) {
  width: 31px;
  height: 31px;
  margin-right: 3px;
}

:local(.navextra) {
  display: flex;
  margin-top: 18px;
  flex-direction: column;
}

:local(.navextrahelp) {
  font-family: Arial;
  font-size: 12px;
  margin-right: 20px;
  color: white;
}

:local(.personallist) {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 18px;
  padding: 0;
}

:local(.personallogo) {
  width: 120px;
  height: 42px;
}

:local(.personalother) {
  font-family: Arial;
  font-size: 12px;
  color: white;
  margin-left: 10px;
}
